#
#  .gitignore
#  TFYSwiftSQLiteKit
#
#  Created by 田风有 on 2021/5/9.
#

.DS_Store
.build/
.swiftpm/
.codebase-memory/
DerivedData/
*.xcuserstate
**/xcuserdata/


.build-sqlcipher/
.build-legacy/

/Package.resolved
